{
  "extends": "airbnb",
  "env": {
    "es6": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "max-len": [2, 120, 2, {
      "ignoreUrls": true,
      "ignoreComments": true
    }],
    "no-plusplus": "off",
    "no-underscore-dangle": "off",
    "padded-blocks": "off",
    "no-param-reassign": "off"
  }
}
